*{
    margin: 0px;
    padding: 0px;
      text-align: center;
}
h1{
    background-color: rgb(10, 10, 57);
    color: azure;
    height: 5rem;
  line-height: 5rem;

}

.choice{
    height: 165px;
    width: 165px;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
#choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
  opacity: 0.5;
  cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
font-size: 5rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#msg{
   /* height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem; */
  /* background-color: black;
    color: white;
    font-size: 2rem;
    width: auto;
    min-width: 20rem;
    height: auto;
    min-height: 3rem;
    line-height: normal;
    border-radius: 25px;
    margin-top: 4rem;
    padding: 10px 20px;
    white-space: nowrap; */
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}